<div>
  {{> infoMsg}}
  {{> errorMsg}}

    <form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputTitle4">Movie Title</label>
      <input type="text" class="form-control" id="inputTitle4" placeholder="Movie Title">
    </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-2 form-group-numbers">
        <label for="inputYear">Year</label>
        <input type="number" class="form-control" id="inputYear" placeholder="Year" min="1000">
    </div>
    <div class="form-group col-md-2 form-group-numbers">
        <label for="inputRank">Rank</label>
        <input type="number" class="form-control" id="inputRank" placeholder="Rank" step=".1" min="0">
    </div>
  </div>
  
  <div class="form-group">
  </div>
  <button class="btn btn-primary" id="btn-add-record">{{label}}</button>
</form>
</div>