<div class="table-responsive">
            <table class="table table-striped"> {{!--table-sm --}}
            <thead>
                <tr>
                <th class="numbers" scope="col">Movie ID</th>
                <th class="words" scope="col">Movie Title</th>
                <th class="numbers" scope="col">Year</th>
                <th class="numbers" scope="col">Rank</th>
                {{!-- <th scope="col">Header</th> --}}
                </tr>
            </thead>
            <tbody>
                <tr>
                <td class="numbers">1,001</td>
                <td class="words">random</td>
                <td class="numbers">data</td>
                <td class="numbers">placeholder</td>
                </tr>
                <tr>
                <td class="numbers">1,002</td>
                <td class="words">placeholder</td>
                <td class="numbers">irrelevant</td>
                <td class="numbers">visual</td>
                </tr>
                <tr>
                <td class="numbers">1,003</td>
                <td class="words">data</td>
                <td class="numbers">rich</td>
                <td class="numbers">dashboard</td>
                </tr>
                <tr>
                <td class="numbers">1,003</td>
                <td class="words">information</td>
                <td class="numbers">placeholder</td>
                <td class="numbers">illustrative</td>
                </tr>
                <tr>
                <td class="numbers">1,004</td>
                <td class="words">text</td>
                <td class="numbers">random</td>
                <td class="numbers">layout</td>
                </tr>
                <tr>
                <td class="numbers">1,005</td>
                <td class="words">dashboard</td>
                <td class="numbers">irrelevant</td>
                <td class="numbers">text</td>
                </tr>
                <tr>
                <td class="numbers">1,006</td>
                <td class="words">dashboard</td>
                <td class="numbers">illustrative</td>
                <td class="numbers">rich</td>
                </tr>
                <tr>
                <td class="numbers">1,007</td>
                <td class="words">placeholder</td>
                <td class="numbers">tabular</td>
                <td class="numbers">information</td>
                </tr>
                <tr>
                <td class="numbers">1,008</td>
                <td class="words">random</td>
                <td class="numbers">data</td>
                <td class="numbers">placeholder</td>
                </tr>
                <tr>
                <td class="numbers">1,009</td>
                <td class="words">placeholder</td>
                <td class="numbers">irrelevant</td>
                <td class="numbers">visual</td>
                </tr>
                <tr>
                <td class="numbers">1,010</td>
                <td class="words">data</td>
                <td class="numbers">rich</td>
                <td class="numbers">dashboard</td>
                </tr>
                <tr>
                <td class="numbers">1,011</td>
                <td class="words">information</td>
                <td class="numbers">placeholder</td>
                <td class="numbers">illustrative</td>
                </tr>
                <tr>
                <td class="numbers">1,012</td>
                <td class="words">text</td>
                <td class="numbers">placeholder</td>
                <td class="numbers">layout</td>
                </tr>
                <tr>
                <td class="numbers">1,013</td>
                <td class="words">dashboard</td>
                <td class="numbers">irrelevant</td>
                <td class="numbers">text</td>
                </tr>
                <tr>
                <td class="numbers">1,014</td>
                <td class="words">dashboard</td>
                <td class="numbers">illustrative</td>
                <td class="numbers">rich</td>
                </tr>
                <tr>
                <td class="numbers">1,015</td>
                <td class="words">random</td>
                <td class="numbers">tabular</td>
                <td class="numbers">information</td>
                </tr>
            </tbody>
            </table>
    </div> 