    <div class="container-fluid">
    <div class="row">
        <input class="selectTag" type="hidden" value={{label}}>
        
        {{> sideBar}}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Search Record</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
        </div>
        
        {{> form}}

        <br>
        <div class="table-responsive">
            <table class="table table-striped"> 
            <thead>
                <tr>
                <th class="numbers" scope="col">Movie ID</th>
                <th class="words" scope="col">Movie Title</th>
                <th class="numbers" scope="col">Year</th>
                <th class="numbers" scope="col">Rank</th>
                </tr>
            </thead>
            <tbody id="searchTable">
                <!--
                <tr>
                {{#each (results)}}
                <td class="numbers">{{this.id}}</td>
                <td class="words">random</td>
                <td class="numbers">data</td>
                <td class="numbers">placeholder</td>
                </tr>
                {{/each}}
                -->
            </tbody>
            </table>
        </div>
         <script type="module" src="/js/searchRecord.js"></script>
        </main>

    </div>
    </div>

